@import 'variable';

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.topSlider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;

    span {
        position: absolute;
        color: white;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 3rem;
            margin-bottom: 0%;
        }
        h2 {
            margin-top: 0%;
        }
    }

    .slide {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        animation: slide 10s infinite;
        overflow: hidden;
    }

    // start from 2nd child because the first child is the span tag
    .slide:nth-child(2) {
        left: 0%;
        animation-delay: -0.5s;
        background-image: url(../img/topimg1.jpeg);
        background-size: cover;
        background-position: center;
    }

    .slide:nth-child(3) {
        left: 100%;
        animation-delay: 2s;
        background-image: url(../img/topimg2.jpeg);
        background-size: cover;
        background-position: center;
    }

    .slide:nth-child(4) {
        left: 100%;
        animation-delay: 4.5s;
        background-image: url(../img/topimg3.jpeg);
        background-size: cover;
        background-position: center;
    }

    .slide:nth-child(5) {
        left: 100%;
        animation-delay: 7s;
        background-image: url(../img/topimg4.jpg);
        background-size: cover;
        background-position: center;
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 70px;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 340px;
        color: white;
    }
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    31% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}
